body {
/* background: #242D36 url(images/background.jpg) no-repeat 0 180px; */
    /* width: 1200px; */
    background: #242d36;
    color: #000;
    line-height: 1.4;
    left: 0px;
    font-family: Verdana,Helvetica, Arial, sans-serif;
    color: #000;
    font-size: 13px;
    /* height: 2000px; */
}
